{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block content %}
<div class="container">
  <h1>Hello, world!</h1>
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}

  <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/rickshaw/1.4.6/rickshaw.js"></script>

  <div id="chart"></div>

  <script type="text/javascript">
   
  
  var data = [ { x: 1910, y: 92228531 }, { x: 1920, y: 106021568 }, { x: 1930, y: 123202660 }, { x: 1940, y: 132165129 }, { x: 1950, y: 151325798 }, { x: 1960, y: 179323175 }, { x: 1970, y: 203211926 }, { x: 1980, y: 226545805 }, { x: 1990, y: 248709873 }, { x: 2000, y: 281421906 }, { x: 2010, y: 308745538 } ];

  var graph = new Rickshaw.Graph( {
        element: document.querySelector("#chart"),
        width: 580,
        height: 250,
        series: [ {
                color: 'steelblue',
                data: data
        } ]
  } );

  graph.render();

    var processed_data = null;
    function get_reuters_data(search) {
      return $.get('http://localhost:5000/' + search);
    }

    function analyze_sentiment(text) {
        var URL = 'https://api.idolondemand.com/1/api/sync/analyzesentiment/v1';
        var API_KEY = 'e7ecaa10-d9fd-46c7-8dfb-b6abff1b78ed';

        params = {
            text: text, 
            apikey: API_KEY
        };
        return $.get(URL, params);
    }

    get_reuters_data('ebola').success(function(data) {
      console.log(data);
      processed_data = [];
      for (var i = 0; i < data.results.length; i++) {
        processed_data[i] = data.results[i];
        (function (idx, val) {
            analyze_sentiment(val.Teaser).success(function (out) {
              processed_data[idx].sentiment = out;
            });
        })(i, data.results[i]);
      }
    });

    console.log(processed_data[0]);

  </script>
{% endblock %}
{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}
